# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Build
frontend/dist/
backend/dist/

# OS
.DS_Store
Thumbs.db

# Ignore data.sqlite database file
data.sqlite
backend/data.sqlite