version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      - NODE_ENV=production
    volumes:
      - ./backend/uploads:/app/uploads
    ports:
      - "4000:4000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        VITE_API_URL: "http://backend:4000"
    ports:
      - "5173:80"
    depends_on:
      - backend
